.i-icon{
    background-image: radial-gradient(var(--color-green-light), var(--color-green-dark));
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    display: grid;
    place-content: center;
    color: white;
    padding: 20px;
}
.i-large{
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.i-small{
    font-size: 15px;
    width: 10px;
    height: 10px;
}