:root{
    --color-black : #282828;
    --color-green-light : #036E32;
    --color-green-dark : #073823;
    --color-yellow-dark : #997804;
    --color-yellow-light : #F9BC16;
    --color-cy-blue : #53B8BB;


}