* {
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
}

/* Header */
.header {
    display: grid;
    grid-template-columns: 25% auto;
    background-color: var(--color-black);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;

}

.header .left {
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .left img {
    width: 150px;
}

.header .right {
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.header .right .search-div {
    background-color: white;
    padding: 7px 15px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    align-items: center;
}

.header .right .search-div input {
    outline: none;
    border: none;
    font-size: 18px;
}

.header .right .search-div input::placeholder {
    font-style: italic;
}

.header .right .icons {
    display: flex;
}

.header .right .icons .search {
    display: none;
}

.header .right .icons div {
    margin: 0 5px;
    cursor: pointer;
}

/* Profile */
.profile {
    margin-top: 60px;
}

.profile .banner img {
    width: 100%;
}

.profile .content {
    position: relative;
}

.profile .content .profile-image {
    position: absolute;
    left: 8%;
    top: -30px;
}

.profile .content .profile-image img {
    width: 180px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.profile .content .title {
    background-image: linear-gradient(to right, var(--color-green-dark), var(--color-green-light), var(--color-green-dark));
    margin-top: -4px;
    display: flex;
    padding: 15px 25px 15px 33%;
    color: white;
}

.profile .content .title h4 {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.profile .content .name {
    padding: 5px 25px 5px 30%;
    background-image: linear-gradient(to right, var(--color-yellow-dark), var(--color-yellow-light), var(--color-yellow-dark));
}

.profile .content .name h4 {
    font-size: 28px;
    color: white;
}

.profile .content .item-div {
    background-color: var(--color-black);
    display: flex;
    padding: 10px 25px 10px 30%;
    color: white;
}

.profile .content .item-div .item {
    width: 100%;
    text-align: center;
}

.profile .content .item-div .item h4 {
    font-size: 21px;
}

.profile .content .item-div .item p {
    font-size: 13px;
}


/* Content */
.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #D9D9D9;
}

.container .boader {
    width: 1000px;
    max-width: 100%;
    display: grid;
    gap: 80px;
    grid-template-columns: 300px auto;

}

.container .boader .left .location .box {
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: white;
    padding: 10px 15px;
}

.container .boader .left .location i {
    font-size: 20px;
}

.container .boader .left .location p {
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
    margin-top: 5px;
}

.container .boader .left .info p {
    font-size: 17px;
    font-weight: 600;
}

.container .boader .left .head {
    background-color: var(--color-black);
    padding: 10px 15px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.container .boader .left .head i {
    font-size: 25px;
}

.container .boader .left .head h4 {
    font-size: 24px;
    margin-left: 15px;
    margin-top: 5px;
}

.container .boader .left .content {
    background-color: #F2F2F2;
    padding: 20px
}

.container .boader .left .radios {
    border-bottom-left-radius: 40px;
}

.container .boader .left .about p {
    font-size: 13px;
}

.container .boader .left .image .empty {
    font-size: 13px;
    height: 200px;
}

.container .boader .left .friends .profile-card {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.container .boader .left .friends .profile-card img {
    width: 80px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-right: 10px;
}

.container .boader .left .friends .profile-card h4 {
    font-size: 16px;
}

.container .boader .left .friends .profile-card p {
    font-size: 12px;
}

.container .boader .left .friends .profile-card button {
    background-color: var(--color-cy-blue);
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    margin-top: 5px;
    color: white;
}

/* Right */
.container .boader .right .box .head {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
    background-image: linear-gradient(to right, var(--color-yellow-dark), var(--color-yellow-light), var(--color-yellow-dark));
    color: white;
    margin-top: 25px;
}

.container .boader .right .box .head p {
    font-size: 14px;
}

.container .boader .right .box .head .left {
    display: flex;
    align-items: center;
}

.container .boader .right .box .head .left img {
    width: 45px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: white 2px solid;
    margin-right: 10px;
}

.container .boader .right .box .head .left h4 {
    font-weight: normal;
    font-size: 19px;
}

.container .boader .right .box .content {
    background-color: #F2F2F2;
    padding: 25px;
}
.container .boader .right .box .content .test .t-title {
    background-color: var(--color-cy-blue);
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
.container .boader .right .box .content .test .t-title i {
    font-size: 22px;
}   

.container .boader .right .box .content .test .t-title p {
    font-size: 20px;
    margin-left: 10px;
}   

.container .boader .right .box .content .test .item{
    width: 100%;
    margin-top: 10px;
}

.container .boader .right .box .content .test .item label{
    font-weight: bold;
}

.container .boader .right .box .content .test .item input{
    width: 100%;
    border: none;
    background-color: rgb(202, 202, 202);
    padding: 10px;
}















.container .boader .right .box .last {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 50px;
}

.container .boader .right .box .last .left {
    display: flex;

}

.container .boader .right .box .last .left div {
    margin: 0 3px;
}

.container .boader .right .box .last button {
    background-color: var(--color-cy-blue);
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 30px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
}

.container .boader .right .box .bottom {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 50px;
}

.container .boader .right .box .bottom div {
    margin: 0 5px;
}