* {
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
}

/* Header */
.header {
    display: grid;
    grid-template-columns: 25% auto;
    background-color: var(--color-black);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;

}

.header .left {
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .left img {
    width: 150px;
}

.header .right {
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.header .right .search-div {
    background-color: white;
    padding: 7px 15px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: flex;
    align-items: center;
}

.header .right .search-div input {
    outline: none;
    border: none;
    font-size: 18px;
}

.header .right .search-div input::placeholder {
    font-style: italic;
}

.header .right .icons {
    display: flex;
}

.header .right .icons .search {
    display: none;
}

.header .right .icons div {
    margin: 0 5px;
    cursor: pointer;
}

/* Profile */
.profile {
    margin-top: 60px;
}

.profile .banner img {
    width: 100%;
}

.profile .content {
    position: relative;
}

.profile .content .profile-image {
    position: absolute;
    left: 8%;
    top: -30px;
}

.profile .content .profile-image img{
    width: 180px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.profile .content .title {
    background-image: linear-gradient(to right, var(--color-green-dark), var(--color-green-light),var(--color-green-dark));
    margin-top: -4px;
    display: flex;
    padding: 15px 25px 15px 33%;
    color: white;
}
.profile .content .title h4{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}
.profile .content .name{
    padding: 5px 25px 5px 30%;
    background-image: linear-gradient(to right, var(--color-yellow-dark), var(--color-yellow-light),var(--color-yellow-dark));
}
.profile .content .name h4{
    font-size: 28px;
    color: white;
}
.profile .content .item-div {
    background-color: var(--color-black);
    display: flex;
    padding: 10px 25px 10px 30%;
    color: white;
}
.profile .content .item-div .item {
    width: 100%;
    text-align: center;
}

.profile .content .item-div .item h4{
    font-size: 21px;
}
.profile .content .item-div .item p{
    font-size: 13px;
}
